/* Entire app, but only affects the top bar */
#app-mount {
    background-color: #260000;
}

/* Whole app minus the top bar background */
/* Pseudo-element to allow for custom filters and stuff, also nicer positioning than background-size: cover */
div[role="dialog"][class*="layer-"] > [class*="container-"][class*="flex-"][class*="container-"]::before {
    content: '';
    background-image: url(https://cdn.discordapp.com/attachments/454214872205623296/593361152205914128/ANIME-PICTURES.NET_-_404171-920x520-pokemon-pokemonoras-nintendo-haruka28pokemon29-daigo28pokemon29-.jpg);
    background-color: #4d0009;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    filter: brightness(.6) contrast(1.05) blur(1px);
}

/* Loading */
#app-mount > div[class*="app-"] > div[class*="app-"] + div[class*="container-"]::before {
    content: '';
    background-image: url(https://cdn.discordapp.com/attachments/454214872205623296/593361152205914128/ANIME-PICTURES.NET_-_404171-920x520-pokemon-pokemonoras-nintendo-haruka28pokemon29-daigo28pokemon29-.jpg);
    background-color: #4d0009;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    filter: brightness(.4) contrast(1.1) blur(0); /* Blur up to the user */
    z-index: -1;
}

/* Guild list background */
div[role="dialog"] > [class*="container-"][class*="flex-"][class*="container-"] > [class*="wrapper-"] {
        background-color: transparent;
}

/** Guild without image and discord logo background**/
#app-mount div[class*="acronym-"],
div[class*="unreadMentionsIndicatorTop-"] + div[class*="scrollerWrap-"] > div[class*="scroller-"] > div[class*="listItem-"]:nth-child(1) a,
div[class*="unreadMentionsIndicatorTop-"] + div[class*="scrollerWrap-"] > div[class*="scroller-"] > div[class*="listItem-"]:nth-child(2) div[class*="guildSeparator-"],
div[class*="unreadMentionsIndicatorTop-"] + div[class*="scrollerWrap-"] > div[class*="scroller-"] > div[class*="listItem-"] div[class*="circleIconButton-"] {
    background-color: rgba(0, 0, 0, .2);
}

/** Guild left bar voice connected icon **/
div[class*="unreadMentionsIndicatorTop-"] + div[class*="scrollerWrap-"] > div[class*="scroller-"] > div[class*="listItem-"] div[class*="badgeWrapper-"] > div[class*="upperBadge-"] > div[class*="iconBadge-"] {
    background-color: #160000;
}

/* Channel list */
/** Background of current user below recent DMs/channels */
div[class*="channels-"],
div[class*="channels-"] > div[class*="container-"]:first-child {
    background-color: transparent; /* TODO: Darken? */
}

/* Unread */
div[class*="modeUnread-"] div[class*="name-"],
div[class*="modeUnread-"] div[class*="name-"] {
    color: #fff !important;
}

/* Muted */
div[class*="modeMuted-"] svg[class*="linkButtonIcon-"],
div[class*="modeMuted-"] svg[class*="icon-1_"],
div[class*="modeMuted-"] div[class*="name-"],
div[class*="modeMuted-"] span[class*="name-"] {
    color: #717479 !important;
}

div[class*="channels-"] div[class*="name-"],
div[class*="channels-"] span[class*="name-"] {
    color: #b9bcc3;
}

svg[class*="linkButtonIcon-"],
svg[class*="icon-1_"] {
    color: #b9bcc3 !important;
}

/*** Darken account details ***/
div[class*="channels-"] > div[class*="container-"]:not(:first-child) {
    background-color: transparent;
    border-color: transparent;
    position: relative;
}

/*** Fix bug with the absolute background that makes username in details disappear ***/
div[class*="accountDetails-"] .username {
    position: relative;
}

/** Actual channel list background */
div[class*="channels-"] > div[class*="vertical-"] {
    background-color: transparent;
}

/** Channel margin to separate from scrollbar */
div[class*="channels-"] div[class*="content-"] {
    margin-right: 8px;
}

/** Search bar on top of the DM lists **/
div[class*="privateChannels-"] > div[class*="searchBar-"] {
    box-shadow: none;
}

div[class*="privateChannels-"] > div[class*="searchBar-"] > div[class*="searchBarComponent-"] {
    background-color: rgba(0, 0, 0, .4);
}

/** Hover effect on recent DMs **/
div[class*="privateChannels-"] div[class*="channel-"] {
    margin-right: 4px;
}

div[class*="privateChannels-"] div[class*="channel-"][class*="selected-"] {
    background-color: transparent;
}

div[class*="privateChannels-"] div[class*="channel-"][class*="selected-"] > a {
    background-color: transparent;  
}

div[class*="privateChannels-"] div[class*="channel-"]:active > a {
    background-color: rgba(0, 0, 0, .5);
}

div[class*="privateChannels-"] div[class*="channel-"]:hover > a {
    background-color: rgba(0, 0, 0, .4);
}

/* Hovered channel highlight **/
#app-mount div[class*="channels-"] div[class*="containerDefault-"] > div[class*="wrapper-"]:hover > div[class*="content-"] {
    background-color: rgba(0, 0, 0, .4);
}

/** Selected channel highlight **/
#app-mount div[class*="channels-"] div[class*="containerDefault-"][class*="selected-"] div[class*="content-"] {
    background-color: rgba(0, 0, 0, .3);
}

/** Selected and hover voice user highlight **/
#app-mount div[class*="channels-"] div[class*="voiceUser-"]:hover > div[class*="content-"],
#app-mount div[class*="channels-"] div[class*="voiceUser-"][class*="selected-"] > div[class*="content-"] {
    background-color: rgba(0, 0, 0, .4);
}

/** Server dropdown darken background **/
div[class*="channels-"] > div[class*="vertical-"] > div:first-of-type {
    background-color: transparent;
}

/* Chat area */
/** The area around the textbox **/
#app-mount div[class*="chat-"] {
    background-color: transparent;
}

/** The header background **/
div[class*="chat-"] > div[class*="title-"] {
    background-color: transparent;
    box-shadow: none;
}

/*** Remove random box-shadow at the end of the channel name ***/
div[class*="chat-"] > div[class*="title-"] > div[class*="children-"]::after {
    display: none;
}

/*** The same but with the border of editing group DMs ***/
div[class*="chat-"] > div[class*="title-"] div[class*="outer-"] input[class*="input-"] {
    box-shadow: none;
    background-color: rgba(0, 0, 0, .4);
}

/*** Ugly aka badge ***/
div[class*="chat-"] > div[class*="title-"] div[class*="akaBadge-"] {
    background-color: #52082e;
}

/*** Search bar background ***/
#app-mount [class*="searchBar-"] {
    background-color: transparent;
}

/**** Search bar filters ****/
#app-mount [class*="searchBar-"] [class*="searchFilter-"] {
    background-color: rgb(255, 255, 255, .1);
}

#app-mount [class*="searchBar-"] [class*="searchAnswer-"] {
    background-color: rgb(255, 255, 255, .1);
    margin-left: 0;
}

/*** Search results ***/
#app-mount [class*="searchResultsWrap-"] {
    background-color: transparent;
}

#app-mount [class*="searchResultsWrap-"] [class*="searchHeader-"] {
    background-color: transparent;
    box-shadow: none;
}

#app-mount [class*="searchResultsWrap-"] [class*="channelName-"] {
    background-color: transparent;
}

#app-mount [class*="searchResultsWrap-"] [class*="searchResult-"]::before,
#app-mount [class*="searchResultsWrap-"] [class*="searchResult-"]::after {
    background-image: none;
}

#app-mount [class*="searchResultsWrap-"] [class*="searchResultMessage-"][class*="hit-"] {
    border-color: transparent;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: none;
}

#app-mount div[class*="searchResultsWrap-"] div[class*="searchResultMessage-"] > div[class*="messageGroupCozy-"] {
    padding-top: 2px;   
}

#app-mount [class*="searchResultsWrap-"] [class*="searchResult-"][class*="expanded-"] {
    border-color: transparent;
}

#app-mount [class*="searchResultsWrap-"] [class*="searchResult-"][class*="expanded-"] [class*="searchResultMessage-"] {
    border-color: transparent;
    background-color: rgba(0, 0, 0, .2);
}

/*** Jump button ***/
#app-mount [class*="jumpButton-"] {
    background-color: rgba(0, 0, 0, .2);
}

/** Content background **/
div[class*="chat-"] > div[class*="content-"] {
    background: transparent;
}

/** Channel members**/
div[class*="chat-"] > div[class*="content-"] div[class*="members-"] {
    background-color: transparent; /* TODO: Darken? */
}

/*** Member hover color ***/
div[class*="chat-"] > div[class*="content-"] div[class*="members-"] div[class*="member-"]:hover div[class*="content-"],
div[class*="chat-"] > div[class*="content-"] div[class*="members-"] div[class*="member-"].popout-open div[class*="content-"] {
    background-color: rgba(0, 0, 0, .2);
}

/*** Member color when popout's open, TODO: Super hacky, maybe use mask-image? ***/
div[class*="member-"][class*="memberOnline-"] > div[class*="content-"] > span[class*="avatarWrapper-"] > div[class*="wrapper-"] > div[class*="status-"],
div[class*="privateChannels-"] div[class*="channel-"] div[class*="wrapper-"] > div[class*="status-"],
div[class*="channels-"] > div[class*="container-"] div[class*="status-"] {
    border-color: transparent;
}

div[class*="member-"][class*="memberOnline-"] > div[class*="content-"] > div[class*="wrapper-"] > div[class*="image-"],
div[class*="privateChannels-"] div[class*="channel-"] > a > div[class*="wrapper-"] > div[class*="inner-"] {
    transition: clip-path 200ms ease;
}

div[class*="privateChannels-"] div[class*="channel-"] > a:not(.typing) > div[class*="wrapper-"] > div[user][class*="inner-"],
div[class*="channels-"] > div[class*="container-"]:last-child div[class*="inner-"] {
    clip-path: polygon(100% 0, 100% 60%, 70% 65%, 60% 80%, 60% 100%, 60% 100%, 0 100%, 0 0);
}

div[class*="privateChannels-"] div[class*="channel-"] > a.typing > div[class*="wrapper-"] > div[user][class*="inner-"] {
    clip-path: polygon(100% 0, 100% 60%, 40% 60%, 30% 80%, 30% 100%, 40% 100%, 0 100%, 0 0);
}

div[class*="member-"][class*="memberOnline-"] > div[class*="content-"] > span[class*="avatarWrapper-"] > div[class*="wrapper-"] > div[class*="image-"][class*="small-"][class*="mask-"] {
    clip-path: polygon(100% 0px, 100% 65%, 75% 65%, 55% 80%, 55% 100%, 60% 100%, 0px 100%, 0px 0px);
}

div[class*="member-"][class*="memberOnline-"] > div[class*="content-"] > span[class*="avatarWrapper-"] > div[class*="wrapper-"] > div[class*="image-"][class*="small-"]:not([class*="mask-"]) {
    clip-path: polygon(100% 0, 100% 65%, 50% 65%, 35% 80%, 35% 100%, 50% 100%, 0 100%, 0 0);
}

/** Messages background **/
div[class*="chat-"] > div[class*="content-"] div[class*="messagesWrapper-"] {
    background-color: transparent;
}

/*** Load more messages button background ***/
div[class*="chat-"] > div[class*="content-"] div[class*="hasMore-"] button {
    background-color: rgba(0, 0, 0, .3);
    border-color: transparent;
}

/*** Blocked messages background ***/
#app-mount div[class*="messageGroupBlocked-"] {
    background-color: rgba(0, 0, 0, .1);
    border: none;
}

/**** Blocked messages collapse button ****/
#app-mount div[class*="messageGroupBlockedBtn-"] {
    background-color: rgba(0, 0, 0, .3);
}

#app-mount div[class*="messageGroupBlockedBtn-"]:hover {
    background-color: rgba(0, 0, 0, .4);
}

/** Textarea wrapper background **/
#app-mount div[class*="chat-"] form {
    background-color: transparent;
}

/** Typing indicator background **/
div[class*="chat-"] div[class*="spacer-"] div[class*="typing-"] {
    background-color: transparent;
}

/** Embeds **/
div[class*="chat-"] > div[class*="content-"] div[class*="embedInner-"] {
    background-color: rgba(0, 0, 0, .2);
    border-color: transparent;
}

/*** Embed default pill color ***/
div[class*="chat-"] > div[class*="content-"] div[class*="embed-"] > div[class*="embedPill-"] {
    background-color: #420000;
}

/*** Invite embeds, TODO: Make more specific? Selector seems sketch ***/
div[class*="chat-"] > div[class*="content-"] div[class*="wrapper-"][class*="userSelectNone-"][class*="cursorDefault-"] {
    background-color: rgba(0, 0, 0, .2);
    border-color: transparent;
}

/** Time dividers **/
div[class*="chat-"] > div[class*="content-"] div[class*="divider-"] span[class*="dividerContent-"] {
    color: rgba(255, 255, 255, .7);
}

div[class*="chat-"] > div[class*="content-"] div[class*="divider-"] span[class*="dividerContent-"]::before,
div[class*="chat-"] > div[class*="content-"] div[class*="divider-"] span[class*="dividerContent-"]::after {
    background-color: rgba(255, 255, 255, .5);
}

div[class*="chat-"] > div[class*="content-"] div[class*="dividerRed-"] span[class*="dividerContent-"] {
    color: rgba(240, 71, 71, .8);
}

div[class*="chat-"] > div[class*="content-"] div[class*="dividerRed-"] span[class*="dividerContent-"]::before,
div[class*="chat-"] > div[class*="content-"] div[class*="dividerRed-"] span[class*="dividerContent-"]::after {
    background-color: rgba(240, 71, 71, .8);
}


/** Code blocks **/
/*** Border ***/
#app-mount div[class*="message-"] div[class*="markup-"] > pre {
    background: #550618;
    border-color: #550618;
}

/*** Background ***/
#app-mount div[class*="message-"] div[class*="markup-"] code {
    background-color: #550618;
}

/** Textarea background */
#app-mount div[class*="chat-"] form {
    background-color: transparent;
}

/* Activity feed */
[class*="activityFeed-"] > [class*="container-"] {
    background-color: transparent;
    box-shadow: none;
}

/** Remove gradient at the end of activity feed header */
[class*="activityFeed-"] > [class*="container-"] > [class*="children-"]::after {
    display: none;
}

/** Fix horizontal scroll **/
div[class*="activityFeed-"] > div[class*="scrollerWrap-"] > div[class*="scroller-"] {
    overflow-x: hidden;
}

/** Cards **/
/*** Cards background ***/
div[class*="activityFeed-"] div[class*="outer-"] {
    background-color: rgba(0, 0, 0, .4);
}

div[class*="activityFeed-"] article[class*="wrapper-"][class*="card-"] {
    background-color: transparent;
}

div[class*="activityFeed-"] div[class*="recentlyPlayedContainer-"] {
    background-color: transparent;
}

div[class*="activityFeed-"] div[class*="recentlyPlayedContainer-"] > div[class*="separator-"]{
    background-color: transparent;
}

/*** Cards hover effect ***/
div[class*="activityFeed-"] div[class*="outer-"][class*="interactive-"]:hover {
    background-color: rgba(0, 0, 0, .6);
}

/*** Remove card separator ***/
div[class*="activityFeed-"] div[class*="card-"][class*="outer-"] > div[class*="wrapper-"] {
    box-shadow: none;
}

/*** Quick launcher card boxes background ***/
div[class*="activityFeed-"] div[class*="outer-"][class*="wrappedCard-"] > div[class*="grid-"] > div[class*="clickable-"],
div[class*="activityFeed-"] div[class*="card-"] > div[class*="grid-"] > div[class*="clickable-"] {
    background-color: rgba(0, 0, 0, .5);
}

/*** Recently played item hover effect ***/
div[class*="activityFeed-"] div[class*="card-"] > div[class*="popoutContainer-"] {
    background-color: transparent;
}

div[class*="activityFeed-"] div[class*="card-"] > div[class*="popoutContainer-"]:hover {
    background-color: rgba(0, 0, 0, .2);
}

/**** Change background for currently playing rich presence ****/
div[class*="activityFeed-"] div[class*="card-"] > div[class*="popoutContainer-"] > div[class*="inset-"],
div[class*="activityFeed-"] div[class*="card-"] > div[class*="popoutContainer-"] div[class*="popout-"] div[class*="enabled-"]:hover,
div[class*="activityFeed-"] div[class*="card-"] > div[class*="popoutContainer-"] div[class*="popout-"] div[class*="separator-"] {
    background-color: transparent;
}

div[class*="activityFeed-"] div[class*="card-"] > div[class*="popoutContainer-"] > div[class*="inset-"] > section[class*="section-"] {
    background-color: transparent;
}

/**** Item popout background ****/
div[class*="activityFeed-"] div[class*="popoutContainer-"] div[class*="popout-"] {
    background-color: rgba(32, 0, 0, .95);
}

div[class*="activityFeed-"] div[class*="popoutContainer-"] div[class*="popout-"] div[class*="memberListItem-"]:hover {
    background-color: transparent;
}

/*** Share button background ***/
div[class*="activityFeed-"] button[class*="shareButton-"] {
    background-color: rgba(0, 0, 0, .6);
}

/* Library */
div[class*="gameLibrary-"] > div[class*="libraryHeader-"],
div[class*="root-"] > div[class*="libraryHeader-"] {
    background-color: rgba(0, 0, 0, .2);
    box-shadow: none;
}

/** Get rid of the weird gradient **/
div[class*="gameLibrary-"] > div[class*="libraryHeader-"] > div[class*="children-"]::after,
div[class*="root-"] > div[class*="libraryHeader-"] > div[class*="children-"]::after {
    display: none;
}

/** Header background color and give some space to breathe with the content **/
div[class*="gameLibrary-"] div[class*="table-"] > div[class*="stickyHeader-"] {
    background-color: rgba(0, 0, 0, .2);
    margin-bottom: 4px;
}

/** Highlight effect on row hover **/
div[class*="gameLibrary-"] div[class*="table-"] > div[class*="rowWrapperActive-"] {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: none;
}

/** Change the color of thoe play button **/
div[class*="gameLibrary-"] div[class*="table-"] button[class*="playButton-"] {
    background-color: rgba(0, 0, 0, .3);
}

/** Row color **/
div[class*="gameLibrary-"] div[class*="table-"] div[class*="bodyCell-"][class*="platformCell-"],
div[class*="gameLibrary-"] div[class*="table-"] div[class*="bodyCell-"][class*="lastPlayedCell-"] {
    color: #ced0d2;
}

/** Selected tab background color label **/
#app-mount div[class*="libraryHeader-"] div[class*="topPill-"] > div[class*="item-"][class*="selected-"] {
    background-color: rgba(255, 255, 255, .1);
}

#app-mount div[class*="libraryHeader-"] div[class*="topPill-"] > div[class*="item-"]:hover {
    background-color: rgba(255, 255, 255, .15);
}

/** Redeem input border **/
div[class*="root-"] div[class*="codeRedemptionInput-"] > input {
    border-color: transparent;
}

div[class*="root-"] div[class*="codeRedemptionInput-"] > input:hover {
    border-color: transparent;
    background-color: rgba(0, 0, 0, .2);
}

/** No gifts image hue rotate **/
div[class*="gameLibrary-"] div[class*="root-"] div[class*="emptyStateImage-"] {
    filter: hue-rotate(100deg) saturate(1000%) brightness(0.65);
}

/* TODO: Nitro */

/* Friends */
/** Friends row hover **/
div[class*="friendsTable-"] {
    margin-top: 0;
}

div[class*="friendsTable-"] div[class*="friendsRow-"]:hover {
    background-color: rgba(0, 0, 0, .1);
}

/** Friend actions like call, vcall **/
div[class*="friendsTable-"] div[class*="friendsTableBody-"] div[class*="friendsRow-"] div[class*="friendsColumnActions-"] div[class*="friendsAction-"] {
    background-color: rgba(0, 0, 0, .2);
}

/*** Hover effect for friend actions ***/
div[class*="friendsTable-"]  div[class*="friendsTableBody-"] div[class*="friendsRow-"] div[class*="friendsColumnActions-"] div[class*="friendsAction-"]:hover {
    background-color: rgba(0, 0, 0, .4);
}

/** Rotate hue for no friends image **/
div[class*="friendsTable-"] div[class*="friendsEmpty-"] div[class*="image-"] {
    filter: hue-rotate(100deg) saturate(1000%) brightness(0.65);
}

/** Lighten up the text for no friends **/
div[class*="friendsTable-"] div[class*="friendsEmpty-"] div[class*="image-"] + div div[class*="text-"] {
    color: rgba(255, 255, 255, .8);
}

/** Add friend background **/
div[class*="friendsTable-"] div[class*="friendTableAddWrapper-"] div[class*="friendTableAddHeader-"] {
    background-color: transparent;
}

/** Background for header, TODO: Sketchy af selector **/
div[class*="channels-"] + div[class*="container-"] > div:nth-child(1)[class*="container-"] {
    background-color: rgba(0, 0, 0, .2);
}

/*** Friends header tabs, suffers from the same sketchy selector but is even more specific so w.e ***/
div[class*="channels-"] + div[class*="container-"] > div:nth-child(1)[class*="container-"] > div[class*="children-"] > div[class*="tabBar-"] > div[class*="item-"][class*="selected-"] {
    background-color: rgba(255, 255, 255, .1);
}

div[class*="channels-"] + div[class*="container-"] > div:nth-child(1)[class*="container-"] > div[class*="children-"] > div[class*="tabBar-"] > div[class*="item-"]:hover {
    background-color: rgba(255, 255, 255, .15);
}

/*** Hide the weird gradient at the right ***/
div[class*="channels-"] + div[class*="container-"] > div:nth-child(1)[class*="container-"] > div[class*="children-"]::after {
    display: none;
}

/* Popouts */
/** Attach popout (for when listening to spotify or playing a game with invites) **/
div[class*="popouts-"] div[class*="attachPopout-"] {
    background-color: rgba(0, 0, 0, .6);
}

/** Message menu popout on the right with pin/copy id/delete/etc. **/
div[class*="popouts-"] > div[role="dialog"] > div[class*="container-"] {
    background-color: #1e0029;
}

div[class*="popouts-"] > div[role="dialog"] > div[class*="container-"] > button[class*="item-"] {
    background-color: transparent;
}

div[class*="popouts-"] > div[role="dialog"] > div[class*="container-"] > button[class*="item-"]:hover {
    background-color: rgba(0, 0, 0, .3);
}

/** Menus (only found the one that pops out on guild settings at the top of channel list) **/
div[class*="popouts-"] div[class*="menu-"] {
    background-color: #260000;
}

/*** Menu item hover color ***/
div[class*="popouts-"] div[class*="menu-"] div[class*="item-"]:hover {
    background-color: rgba(0, 0, 0, .2);
}

/** RTC Connection popout **/
div[class*="popouts-"] > div[class*="popout-"][class*="popoutTop-"] > div[class*="container-"] > header:not([class]) {
    background-color: transparent;
}

div[class*="popouts-"] > div[class*="popout-"][class*="popoutTop-"] > div[class*="container-"] > section:not([class]) {
    background-color: transparent;
}

/** User popout, a must to get right **/
div[class*="userPopout-"] {
    box-shadow: none;
}

/** User popout, a must to get right **/
div[class*="userPopout-"] {
    box-shadow: none;
}

/*** Header colors, TODO: Make these colors distinct? ***/ 
div[class*="userPopout-"] > div[class*="headerNormal-"] {
    background-color: rgba(39, 0, 0, 1);
}

div[class*="userPopout-"] > div[class*="headerPlaying-"] {
    background-color: rgba(39, 0, 0, 1);
}

div[class*="userPopout-"] > div[class*="headerSpotify-"] {
    background-color: rgba(39, 0, 0, 1);
}

div[class*="userPopout-"] > div[class*="body-"],
div[class*="userPopout-"] > div[class*="footer-"] {
    background-color: rgba(49, 10, 10, 1);
}

div[class*="userPopout-"] > div[class*="body-"] > div[class*="note-"] textarea:focus {
    background-color: rgba(0, 0, 0, .2);
}

div[class*="userPopout-"] > div[class*="footer-"] > input[class*="quickMessage-"] {
    background-color: rgba(0, 0, 0, .3);
    border-color: transparent;
}

div[class*="userPopout-"] > div[class*="footer-"] > input[class*="quickMessage-"]:hover,
div[class*="userPopout-"] > div[class*="footer-"] > input[class*="quickMessage-"]:focus {
    background-color: rgba(0, 0, 0, .4);
}

/** TODO: Add role + button **/
div[class*="popouts-"] > div[class*="popout-"] + div[class*="popout-"][role="dialog"] > div[class*="header-"] + div[class*="sectionTag-"] {
    background-color: transparent;;
}

div[class*="popouts-"] > div[class*="popout-"] + div[class*="popout-"][role="dialog"] > div[class*="header-"] + div[class*="sectionTag-"] div[class*="row-"] {
    background-image: none;
    background-color: transparent;
}

div[class*="popouts-"] > div[class*="popout-"] + div[class*="popout-"][role="dialog"] > div[class*="header-"] + div[class*="sectionTag-"] div[class*="row-"]:hover {
    background-color: transparent;
}

/** Pinned messages and recent mentions popout, arguably second the most important one to get right **/
div[class*="popouts-"] div[class*="messagesPopoutWrap-"] {
    background-color: #52082e;
    border-color: transparent;
    box-shadow: none;
}

[class*="mention-"] {
    background-color: rgba(47, 0, 64, 0.9);
}

[class*="mention-"]:hover {
    background-color: rgba(65, 0, 88, 0.9);
}

/*** Pinned popout header and footer ***/
div[class*="popouts-"] div[class*="messagesPopoutWrap-"] > div[class*="header-"] {
    background-color: rgba(0, 0, 0, .2);
    box-shadow: none;
}

div[class*="popouts-"] div[class*="messagesPopoutWrap-"] > div[class*="footer-"] {
    background-color: rgba(0, 0, 0, .1);
}

/*** Pinned popout messages ***/
div[class*="popouts-"] div[class*="messagesPopoutWrap-"] div[class*="messageGroupWrapper-"] {
    background-color: rgba(0, 0, 0, .2);
    border-color: transparent;
}

div[class*="popouts-"] div[class*="messagesPopoutWrap-"] div[class*="messageGroupWrapper-"]:hover {
    border-color: transparent;
}

/**** Action buttons, jump and remove ****/
div[class*="popouts-"] div[class*="messagesPopoutWrap-"] div[class*="messageGroupWrapper-"] div[class*="actionButtons-"] {
    background-color: transparent;
    box-shadow: none;
}

/*** Change color of the no pin message icon ***/
div[class*="popouts-"] div[class*="messagesPopoutWrap-"] div[class*="emptyPlaceholder-"] div[class*="image-"] {
    filter: hue-rotate(80deg) saturate(1600%) brightness(.75);
}

/*** Load more messages background ***/
div[class*="popouts-"] div[class*="messagesPopoutWrap-"] div[class*="hasMore-"] button[class*="hasMoreButton-"] {
    background-color: rgba(0, 0, 0, .3);
    border-color: transparent;
}

/** Search popout **/
div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] {
    background-color: #1e0029;
    box-shadow: none;
}

/*** Get rid of dumb gradient ***/
div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="resultsGroup-"] div[class*="option-"]::after {
    display: none;
}

/*** Selected or hovered option ***/
div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="resultsGroup-"] div[class*="option-"]:hover,
div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="resultsGroup-"] div[class*="option-"][class*="selected-"] {
    background-color: rgba(255, 255, 255, .05);
}

/*** Suggest header ***/
div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="queryContainer-"][class*="focused-"] {
    background-color: transparent;
    border-color: transparent;
}

/**** Enter prompt ****/
div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="queryContainer-"] > div[class*="queryShortcut-"] > div[class*="keybindShortcut-"] > span {
    background-color: rgba(255, 255 ,255, .02);
    box-shadow: inset 0 -4px 0 rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .05);
}

/*** Date picker background ***/
div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="datePicker-"] > div[class*="calendarPicker-"] > .react-datepicker {
    background-color: #2c003c;
}

/**** Previous/next arrow backgrounds and hover effects ****/
div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="datePicker-"] > div[class*="calendarPicker-"] > .react-datepicker .react-datepicker__navigation {
    border-color: transparent;
    background-color: rgba(255, 255, 255, .04);
}

div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="datePicker-"] > div[class*="calendarPicker-"] > .react-datepicker .react-datepicker__navigation:hover {
    background-color: rgba(255, 255, 255, .05);
}

/**** Header and day backgrounds and hover effects ****/
div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="datePicker-"] > div[class*="calendarPicker-"] > .react-datepicker .react-datepicker__header,
div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="datePicker-"] > div[class*="calendarPicker-"] > .react-datepicker .react-datepicker__day {
    background-color: transparent;
}

div[class*="popouts-"] div[role="dialog"] div[class*="container-"][class*="elevationBorderHigh-"] > div[class*="datePicker-"] > div[class*="calendarPicker-"] > .react-datepicker .react-datepicker__day:not(.react-datepicker__day--disabled):hover {
    background-color: rgba(0, 0, 0, .3);
}

/** Game popout **/
div[class*="popouts-"] > div[role="dialog"] > div[class*="container-"] > div[class*="footer-"],
div[class*="popouts-"] + div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="container-"] > div[class*="footer-"] {
    background-color: #2c003c;
}

div[class*="popouts-"] > div[role="dialog"] > div[class*="container-"] > div[class*="header-"] > div[class*="players-"],
div[class*="popouts-"] + div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="container-"] > div[class*="header-"] > div[class*="players-"] {
    background-color: #2c003c;
}

div[class*="popouts-"] > div[role="dialog"] > div[class*="container-"] > div[class*="header-"] div[class*="player-"]:hover,
div[class*="popouts-"] + div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="container-"] > div[class*="header-"] div[class*="player-"]:hover {
    background-color: transparent;
}

div[class*="popouts-"] > div[role="dialog"] > div[class*="container-"] > div[class*="header-"] > div[class*="news-"],
div[class*="popouts-"] + div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="container-"] > div[class*="header-"] > div[class*="news-"] {
    background-color: #2c003c;
}

div[class*="popouts-"] > div[role="dialog"] > div[class*="container-"] > div[class*="header-"] > div[class*="newsEmpty-"],
div[class*="popouts-"] + div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="container-"] > div[class*="header-"] > div[class*="newsEmpty-"] {
    filter: hue-rotate(135deg) saturate(2500%) brightness(0.35);
}

div[class*="popouts-"] > div[role="dialog"] > div[class*="container-"] > div[class*="footer-"] > button[class*="lookFilled-"],
div[class*="popouts-"] + div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="container-"] > div[class*="footer-"] > button[class*="lookFilled-"] {
    background-color: #3e0054;
}

div[class*="popouts-"] > div[role="dialog"] > div[class*="container-"] > div[class*="footer-"] > button[class*="lookFilled-"]:hover,
div[class*="popouts-"] + div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="container-"] > div[class*="footer-"] > button[class*="lookFilled-"]:hover {
    background-color: #4c0067;
}

/** Reactions popout **/
div[class*="popouts-"] + div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="sidebar-"] {
    background-color: rgba(0, 0, 0, .3);
}

div[class*="popouts-"] + div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="reactors-"] {
    background-color: transparent;
}

/** Emoticon picker popout**/
div[class*="popouts-"] div[role="dialog"][class*="popout-"] div[class*="emojiPicker-"] {
    background-color: rgba(32, 0, 43, 0.9);
    border-color: transparent;
    box-shadow: none;
}

div[class*="popouts-"] div[role="dialog"][class*="popout-"] div[class*="emojiPicker-"] div[class*="stickyHeader-"] {
    background-color: #24092e;
}

div[class*="popouts-"] div[role="dialog"][class*="popout-"] div[class*="emojiPicker-"] div[class*="stickyHeader-"] div[class*="category-"] {
    color: #b7a7c7;
}

div[class*="popouts-"] div[role="dialog"][class*="popout-"] div[class*="emojiPicker-"] div[class*="emojiItem-"][class*="selected-"] {
    background-color: rgba(255, 255, 255, .1);
}

div[class*="popouts-"] div[role="dialog"][class*="popout-"] div[class*="emojiPicker-"] div[class*="categories-"] div[class*="item-"] {
    filter: hue-rotate(100deg) saturate(1000%) brightness(0.65);
}

div[class*="popouts-"] div[role="dialog"][class*="popout-"] div[class*="emojiPicker-"] div[class*="categories-"] div[class*="item-"]:hover,
div[class*="popouts-"] div[role="dialog"][class*="popout-"] div[class*="emojiPicker-"] div[class*="categories-"] div[class*="item-"][class*="selected-"] {
    filter: none !important; /* TODO: Figure out why I did this */
}

div[class*="popouts-"] div[role="dialog"][class*="popout-"] div[class*="emojiPicker-"] div[class*="scroller-"]::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Context menu */
#app-mount div[class*="contextMenu-"] {
    background-color: rgba(42, 0, 0, 0.8);
    box-shadow: none;
}

div[class*="contextMenu-"] div[class*="itemGroup-"] div[class*="item-"]:hover {
    background-color: rgba(42, 0, 0, 0.8);
    box-shadow: none;
}

/** Checkboxes **/
div[class*="contextMenu-"] div[class*="itemGroup-"] div[class*="item-"][class*="itemToggle-"] div[class*="checkbox-"] div[class*="checkboxInner-"] input[class*="checkboxElement-"]:checked + span {
    background-color: #600000;
    border-color: #600000;
}

/* Tooltips */
div[class*="layerContainer-"] div[class*="tooltip-"] {
    background-color: #270000;
    box-shadow: none;
}

div[class*="layerContainer-"] div[class*="tooltip-"] div[class*="tooltipPointer-"] {
    background-color: #270000;
    box-shadow: none;
}

/* Modals */
/*
#app-mount div[class*="modal-"] {
    background-color: rgba(0, 0, 0, .6);
}
*/

/** User modal **/
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="topSectionNormal-"] {
    background-color: #200000;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="topSectionPlaying-"] {
    background-color: #200000;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="topSectionSpotify-"] {
    background-color: #200000;
}

/*** Lighter body color ***/

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="body-"] {
    background-color: #270000;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="body-"] div[class*="userInfoSection-"] {
    border-color: transparent;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="body-"] div[class*="userInfoSection-"]:first-of-type {
    padding-bottom: 0;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="body-"] div[class*="userInfoSection-"] > div[class*="note-"] > textarea {
    background-color: rgba(0, 0, 0, .2);
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="body-"] div[class*="userInfoSection-"] > div[class*="note-"] > textarea:hover {
    background-color: rgba(255, 255, 255, .04);
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="body-"] div[class*="userInfoSection-"] > div[class*="note-"] > textarea:focus {
    background-color: rgba(255, 255, 255, .05);
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="body-"] div[class*="userInfoSection-"] > div[class*="connectedAccounts-"] > div[class*="connectedAccount-"] {
    background-color: rgba(0, 0, 0, .2);
    border-color: transparent;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="body-"] div[class*="userInfoSection-"] > div[class*="connectedAccounts-"] > div[class*="connectedAccount-"] svg[class*="connectedAccountVerifiedIcon-"] path[fill='#4f545c'] {
    fill: #600000;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="flex-"][class*="vertical-"][class*="justifyStart-"][class*="root-"] > div[class*="body-"] div[class*="emptyIconFriends-"] {
    filter: hue-rotate(100deg) saturate(1000%) brightness(0.65);
}

/** Channel description modal **/
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="modal-"] {
    border-color: transparent;
    box-shadow: none;
    border-radius: 10px;
    overflow: hidden;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="modal-"] > div[class*="header-"][class*="flex-"][class*="horizontal-"][class*="directionRow-"],
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="modal-"] > div[class*="header-"][class*="flex-"][class*="horizontal-"][class*="directionRow-"] + div[class*="content-"] {
    background-color: #270000;
}

/*** Footer, the description doesn't have it but other modals do, like the changelog ***/
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="modal-"] > div[class*="footer-"] {
    background-color: #2c003c;
    box-shadow: none;
}

/** Footer button **/
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="modal-"] > div[class*="footer-"] > button[class*="button-"] {
    background-color: #3e0054;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="modal-"] > div[class*="footer-"] > button[class*="button-"]:hover {
    background-color: #4c0067;
}

/** Modal checkboxes **/
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > div[class*="modal-"] > div[class*="content-"] div[class*="switchItem-"] div[class*="switch-"]::before {
    background-color: #520000;
}

/** Add to group DM modal **/
div[class*="popouts-"] > div[role="dialog"][class*="popout-"] > div[class*="modal-"][class*="popout-"] {
    background-color: #370000;
}

div[class*="popouts-"] > div[role="dialog"][class*="popout-"] > div[class*="modal-"][class*="popout-"] > div[class*="header-"] > div[class*="searchBar-"] > div[class*="searchBarComponent-"] {
    background-color: transparent;
}

div[class*="popouts-"] > div[role="dialog"][class*="popout-"] > div[class*="modal-"][class*="popout-"] > div[class*="header-"] > div[class*="searchBar-"] > div[class*="searchBarComponent-"] > div[class*="inner-"] > a[class*="anchor-"][class*="tag-"] {
    background-color: rgba(255, 255, 255, .06);
}

/** Background colors **/
#app-mount div[class*="wrapper-"] div[class*="modal-"] {
    background-color: #660c3a;
    box-shadow: none;
}

#app-mount div[class*="wrapper-"] div[class*="modal-"] div[class*="footer-"] {
    background-color: #52082e;
}

#app-mount div[class*="wrapper-"] div[class*="modal-"] div[class*="footer-"] > div[class*="content-"]::before {
    display: none;
}

#app-mount div[class*="wrapper-"] div[class*="modal-"] div[class*="header-"] > div[class*="marginTop4-"] {
    background-color: rgba(0, 0, 0, .4);
}

/** Leave guild modal **/
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="container-"][class*="sizeSmall-"] {
    box-shadow: none;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="container-"][class*="sizeSmall-"] > div[class*="header-"],
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="container-"][class*="sizeSmall-"] > div[class*="footer-"] {
    background-color: #1e0029;
    box-shadow: none;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="container-"][class*="sizeSmall-"] > div[class*="content-"] {
    background-color: #2c003c;
    padding-top: 12px;
}

/** Pin message modal **/
/*** message background ***/
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="container-"][class*="sizeSmall-"] > div[class*="content-"] div[class*="message-"] {
    background-color: transparent;
    box-shadow: none;
}

/*** Button color ***/


/** Change user nickname modal **/
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="sizeSmall-"]:not([class*="container-"]) {
    box-shadow: none;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="sizeSmall-"]:not([class*="container-"]) > div[class*="header-"],
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="sizeSmall-"]:not([class*="container-"]) > div[class*="content-"] {
    background-color: #1e0029;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="sizeSmall-"]:not([class*="container-"]) > div[class*="footer-"] {
    background-color: #2c003c;
    box-shadow: none;
}

/*** Submit button (or basically most footer buttons on modals) ***/
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="sizeSmall-"] > div[class*="footer-"] > button[type="submit"][class*="button-"][class*="lookFilled-"] {
    background-color: #3e0054;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="sizeSmall-"] > div[class*="footer-"] > button[type="submit"][class*="button-"][class*="lookFilled-"]:hover {
    background-color: #4c0067;
}

/*** Input focus effect ***/
div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="sizeSmall-"]:not([class*="container-"]) > div[class*="content-"] div[class*="input-"] input[class*="input-"] {
    border-color: transparent;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="sizeSmall-"]:not([class*="container-"]) > div[class*="content-"] div[class*="input-"] input[class*="input-"]:hover {
    background-color: #300000;
}

div[class*="theme-"] > div[class*="modal-"] > div[class*="inner-"] > form[class*="modal-"][class*="sizeSmall-"]:not([class*="container-"]) > div[class*="content-"] div[class*="input-"] input[class*="input-"]:focus {
    border-color: transparent;
    background-color: #3e0054;
}

/** TODO: Create group DM modal/popout/both **/
div[class*="popouts-"] {

}

/* Configuration */
/* or GUILD_SETTINGS */
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]),
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] {
    background-color: transparent;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="sidebarRegion-"] {
    background-color: rgba(0, 0, 0, .5);
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] {
    background-color: rgba(0, 0, 0, .3);
}

/** Sidebar item hover/selected effects **/
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="sidebarRegion-"] div[class*="side-"] > div[class*="item-"]:hover,
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="sidebarRegion-"] div[class*="side-"] > div[class*="item-"][class*="selected-"] {
    background-color: rgba(255, 255, 255, .08);
}

/** Sidebar separators **/
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="sidebarRegion-"] div[class*="separator-"] {
    background-color: #330039;
}

/** Video preview wrapper **/
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="userSettingsVoice-"] div[class*="previewOverlay-"] {
    background: transparent;
    border-color: transparent;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="userSettingsVoice-"] div[class*="previewContainer-"] .media-engine-video {
    background: transparent;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="userSettingsVoice-"] div[class*="micTest-"] div[class*="progress-"] {
    background: rgba(100, 0, 0, 1);
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="userSettingsVoice-"] div[class*="micTest-"] div[class*="notches-"] {
    filter: hue-rotate(140deg) saturate(1800%) brightness(0.2);
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="game-"] {
    left: -10px;
    width: calc(100% + 20px);
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="game-"] div[class*="gameNameLastPlayed-"] {
    padding-left: 12px;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="game-"] div[class*="gameNameLastPlayed-"] + div{
    padding-right: 12px;
}

/** Content area cards **/
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="card-"] {
    border-color: transparent;
    background-color: transparent;
}

/*** Privacy & Safety clickable cards ***/
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="card-"][class*="item-"]:hover {
    background-color: rgba(0, 0, 0, .3);
}

/**** !important to override inline styles ****/
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="radioGroup-"] div[class*="card-"][class*="item-"][style*="border-color"] {
    border-color: transparent !important;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="radioGroup-"] div[class*="card-"][class*="item-"][style*="background-color: rgb(114, 137, 218)"] {
    background-color: rgba(80, 120, 220, .7) !important;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="radioGroup-"] div[class*="card-"][class*="item-"][style*="background-color: rgb(67, 181, 129)"] {
    background-color: rgba(10, 240, 100, .7) !important;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="radioGroup-"] div[class*="card-"][class*="item-"][style*="background-color: rgb(250, 166, 26)"] {
    background-color: rgba(200, 150, 25, .7) !important;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="radioGroup-"] div[class*="card-"][class*="item-"][style*="background-color: rgb(245, 119, 49)"] {
    background-color: rgba(245, 119, 49, .7) !important;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="radioGroup-"] div[class*="card-"][class*="item-"][style*="background-color: rgb(240, 71, 71)"] {
    background-color: rgba(200, 0, 0, .7) !important;
}

/** Close buttons **/
div[class*="card-"] > button[class*="button-"][class*="removeOverride-"] {
    background-color: #220000;
}
div[class*="card-"] > button[class*="button-"][class*="removeOverride-"]:hover {
    background-color: #3e0054;
}

/** Content area red buttons **/
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] button[class*="deleteApp-"] {
    background: rgba(75, 0, 0, .5);
    color: rgba(255, 200, 200, 1);
    border-color: transparent;
    transition: background-color 200ms ease;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] button[class*="deleteApp-"]:hover {
    background: rgba(100, 0, 0, .5);
}

/** Selects **/
div[class*="select-"] .Select-menu-outer {
    background-color: rgba(32, 0, 43, 0.9);
    border-color: transparent;
}

/** Connections boxes **/
#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="connectedAccounts-"] div[class*="accountBtn-"] button[class*="accountBtnInner-"] {
    background-color: rgba(0, 0, 0, .3);
    border-color: transparent;
    transition: background-color 200ms ease;
}

#app-mount > div[class*="app-"] > div[class*="app-"] > div[class*="layers-"] > div[class*="layer-"]:-webkit-any([aria-label$="_SETTINGS"], [aria-label="RTC_DEBUG"]) div[class*="standardSidebarView-"] > div[class*="contentRegion-"] div[class*="connectedAccounts-"] div[class*="accountBtn-"] button[class*="accountBtnInner-"]:hover {
    background-color: rgba(0, 0, 0, .5);
}

/* Scrollbars */
/** Affect all scrollbars */
#app-mount div[class*="scroller-"]::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, 0);
}

/** Only the chat messages scrollbar **/
/** TODO: Fix, WIP, bad **/
#app-mount /* div[class*="messagesWrapper-"] */ div[class*="scroller-"]::-webkit-scrollbar-track-piece {
    background: transparent;
    border-color: transparent;
}

/** Fix stupid big icons **/
div[class*="title-"] > div[class*="children-"] > div[class*="iconWrapper-"] {
    margin: 2px;
    transform: scale(.8) translateY(2px);
}

/* Non-responsive selectors for the transition in and out of settings which depend on quickly detecting elements */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ {
    background: transparent;
}

/** For calls **/
div[class*="chat-"] div[class*="wrapper-"] {
    background-color: transparent;
}
div[class*="video-"]  {
    background-color: rgba(0, 0, 0, 0.4);
}
/* Join Call */
[class*="lookFilled-"] [class*="colorGreen-"] {
    color: #fff;
    background-color: #43b581;
}
[class*="joinVideoCallButton-"],
[class*="joinVoiceCallButton-"] {
    background-color: rgba(67, 181, 129, 0.3) !important;
}
[class*="joinVideoCallButton-"] [class*="underlay-"] {
    background-color: rgba(105, 196, 154, 0.3);
}

/* Ugly notifications */
[class*="isLocalBot-"] {
    background-image: linear-gradient(90deg,rgba(58, 20, 70, .3) 80%,#2d053a) !important;
    box-shadow: -20px 0 #2e053b, 20px 0 #2e053b, -20px -1px 0 0 #2e053b, -20px 1px 0 #420356, 20px 1px 0 #420356, 20px -1px 0 #420356 !important;
}
